.Page2 {
  background-color: white;
  font-family: "Lexend", sans-serif;
  margin: 5rem;
}

.product-iamges-slider .swiper-button-prev {
    color: black;
}

#SwiperPage2 .swiper-button-next {
  color: #4C4B63;
}

#SwiperPage2 .swiper-button-next:hover {
  color: #FD900D;
}

#SwiperPage2 .swiper-button-prev {
  color: #4C4B63;
}
#SwiperPage2 .swiper-button-prev:hover {
  color: #FD900D;
}

#SwiperPage2 span.swiper-pagination-bullet {
  background-color: #FD900D;
}

.Card {
  margin-bottom: 2rem;
  width: 300px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #E5E5EB;
}

.Card img {
  width: 300px;
}

.CardContent h1 {
  color: #121127;
  font-size: 1.5rem;
  font-weight: 500;
}

.CardContent p {
  color: #4C4B63;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.Card button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-top: 1px solid #E5E5EB;
  gap: 0.5rem;
  color: #FD900D;
  width: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.CardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.Card img.ArrowSlider {
  width: 20px;
  height: 12px;
}

.CardContent .ValueSlider {
  font-size: 1.1rem;
  font-weight: 500;
}

.ButtomSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.TextContentSlider {
  height: 60px;
}

.TopContentPage2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.TopContentPage2 h3 {
  font-weight: 300;
  color: #F9AE2A;
  margin-top: 4rem;
}

.TopContentPage2 h1 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 75%;
  text-align: center;
  line-height: 52px;
}

.TopContentPage2 p {
  font-weight: 300;
  font-size: 1rem;
  width: 70%;
  text-align: center;
  line-height: 28px;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  #SwiperPage2 div.swiper-wrapper {
    padding-left: 15%;
  }
}

@media (max-width: 600px) {
  .Page2 {
    margin: 2rem;
  }

  #SwiperPage2 div.swiper-wrapper {
    padding-left: 13%;
  }
}

@media (max-width: 520px) {
  .TopContentPage2 h1 {
    width: 85%;
  }
  
  .TopContentPage2 p {
    width: 85%;
  }
}

@media (max-width: 520px) {
  #SwiperPage2 div.swiper-wrapper {
    padding-left: 5%;
  }
}

@media (max-width: 450px) {
  .Page2 {
    margin: 0rem;
  }

  #SwiperPage2 div.swiper-wrapper {
    padding-left: 0%;
  }
}

@media (max-width: 375px) {
  .Card {
    width: 250px;
  }

  .Card img {
    width: 250px;
  }

  .ButtomSlider {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .TopContentPage2 h1 {
    width: 95%;
    font-size: 2rem;
  }
}